* {
  background-color: black;
}

body {
  text-align: center;
}

.background {
  max-width: 100%;
}

h1 {
  color:white;
  font-family: Verdana, sans-serif;
  text-align: center;
}

.top {
  font-weight: normal;
  font-size: 50px;
}

.link {
  color: aquamarine;
  text-align: center;
  font-size: 16px;
  text-decoration: underline;
}

video {
  min-width: 400px;
  height: auto;
  /* align-content: center; */
  /* margin: 0 auto; */
  margin: auto;
}

.middle {
  font-weight: 300;
  font-size: 42px;
}

.body-text {
  font-family: Verdana;
  font-size: 21px;
  color: gray;
  text-align: center;
}

.tent {
  text-align: center;
}

.phone {
  text-align: center;
}

#copyright {
  text-align: right;
  color: gray;
  font-family: Verdana;
  font-size: 21px;
}
