/* Universal Styles */
html {
  font-size: 16px;
  font-family: Helvetica, sans-serif;
}

strong {
  font-weight: 700;
}

a {
  text-decoration: underline;
  color: blue;
}

/* Navigation Section */
.nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  padding: 1rem 1.5rem;
  position: fixed;
  z-index: 5;
  border-bottom: 1px solid black;
  background-color: white;
}

.navbar ul {
  display: flex;
  align-items: center;
  padding-right: 2rem;
}

.navbar ul li {
  padding-right: 1rem;
}

.logo {
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.logo img {
  display: inline-block;
  height: 2rem;
}

.mobile-nav {
  display: none;
}

@media only screen and (min-width: 20rem) and (max-width: 30rem) {
  .mobile-nav {
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding-right: 2.5rem;
  }

  .logo,
  .navbar {
    display: none;
  }
}

/* Section 2 */
.section-2 {
  display: flex;
  flex-flow: row nowrap;
  align-content: center;
  position: relative;
  top: 4rem;
  overflow: hidden;
  /* width: 100%; */
  height: auto;
  padding: 2rem 1.5rem;
  background-color: lightgray;
}

.hero-img {
  max-width: 60%;
  overflow: hidden;
  display: inline-block;
}

.hero-img img {
  max-width: 100%;
  height: auto;
  display: inline;
}

.hero-info {
  width: 30%;
  display: inline-flex;
  flex-flow: column nowrap;
  justify-content: center;
  padding-left: 2.5rem;
  color: black
}

.hero-info h5,
.hero-info div {
  margin-top: 2rem;
}

.cta {
  background-color: gray;
  color: white;
  padding: 0.5rem;
  text-align: center;
}

@media only screen and (min-width: 20rem) and (max-width: 30rem) {
  .section-2 {
    padding: 0;
    display: flex;
    flex-flow: column wrap;
  }

  .hero-img {
    max-width: 100%;
  }

  .hero-info {
    width: 99%;
    padding: 2rem 1rem;
  }

  .cta {
    width: 90%;
  }

  .hero-info h5 {
    margin-top: 2rem;
  }

  .hero-info div {
    margin-top: 1.5rem;
  }
}

/* Section 3 */
.section-3 {
  position: relative;
  top: 4rem;
  display: flex;
  flex-flow: row nowrap;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  padding: 2rem 1.5rem;
  background-color: white;
}

/* Left Container */
.practice {
  display: inline-flex;
  flex-flow: column nowrap;
  max-width: 60%;
  height: auto;
}

.practice-img {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: inline-block;
}

.practice-img img {
  max-width: 100%;
  height: auto;
  display: inline;
}

.practice-info h3 {
  padding: 2rem 0 1.5rem 0;
}

.practice-info span {
  padding: 2rem 0;
  display: block;
}

/* Right Container */
.campus {
  display: inline-flex;
  flex-flow: column wrap;
  max-width: 40%;
  height: auto;
  border-left: 1px dotted lightgray;
  margin-left: 1rem;
}

.rec {
  display: none;
}

.campus-details {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0 1rem 1rem 0.75rem;
  max-width: 100%;
  height: auto;
}

.campus-details .sq {
  max-width: 35%;
}

.cd-box {
  max-width: 65%;
  padding-left: 1rem;
  display: flex;
  flex-flow: column;
}

.cd-box p {
  padding: 1rem 0;
}

@media only screen and (min-width: 20rem) and (max-width: 30rem) {
  .campus {
    border-left: none;
    max-width: 100%;
    margin-left: 0;
    border-bottom: 1px dotted lightgray;
    padding-bottom: 2rem;
  }

  .practice {
    display: none;
  }

  .sq {
    display: none;
  }

  .campus-details {
    flex-wrap: wrap;
    max-width: 100%;
  }

  .campus-details .rec {
    max-width: 100%;
    display: block;
  }

  .cd-box {
    max-width: 100%;
    margin-top: 1rem;
  }
}

/* Section 4 */
.section-4 {
  display: flex;
  flex-flow: column nowrap;
  padding: 2rem 4rem;
  overflow: hidden;
  max-width: 100%;
  background-color: lightgray;
  position: relative;
  top: 4rem;
}

.heading {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 1.75rem;
}

.courses-mobile {
  display: none;
}

.courses {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  overflow: hidden;
}

.course-box {
  height: 16rem;
  max-width: 30%;
  overflow: hidden;
  margin: 0 2rem 2rem 0;
  flex-grow: 2;
}

.course-box img,
.course-box.course-box-info {
  max-width: 100%;
  height: auto;
  display: block;
}

.course-box-info {
  padding: 1rem;
  background-color: white;
  overflow: hidden;
}

.course-box-info p:nth-child(2) {
  padding: 0.5rem 0;
}

.course-box-info p {
  font-size: .8rem;
}

@media only screen and (min-width: 20rem) and (max-width: 30rem) {
  .section-4 {
    background-color: white;
    padding: 0;
  }

  .courses {
    display: none;
  }

  .courses-mobile {
    display: flex;
    flex-flow: column nowrap;
    width: 90%;
    margin: 0rem auto;
    margin-bottom: 1rem;
  }

  .subjects {
    min-width: 100%;
    padding: 1rem 0 1.5rem 1rem;
    margin-bottom: 0.5rem;
    background-color: lightgray;
  }
}

/* Questions:
Why is Section 2 creating unneeded space to the right? remove width:100%;
Why do i have to keep using position relative top 4rem? Just cause, but its working.
Section 4 flex row goes to 2x2 with a blank 3rd space. use justify-content: center;
Lines 261-2-4-5 all seem to be unneeded when commented out. Why? Probably because the .courses class
is taking care of those affects. */

/* Section 5 */
.section-5 {
  display: flex;
  flex-flow: column wrap;
  position: relative;
  top: 4rem;
}

.heading {
  text-align: center;
  margin-top: 2rem;
  font-weight: 700;
}

.theses {
  display: flex;
  flex-flow: row nowrap;
  max-width: 100%;
  height: auto;
  overflow: hidden;
  padding: 1rem 0 0 1.5rem;
  margin-bottom: -5rem;
}

/* Left Container */
.t-left {
  max-width: 60%;
  height: auto;
  display: inline-block;
}

.t-left video {
  max-width: 100%;
  height: auto;
  display: block;
}

.urban h5 {
  margin: 1.5rem 0 0.5rem 0;
}

/* Right Container */
.t-right {
  display: flex;
  flex-flow: column nowrap;
  max-width: 40%;
  height: auto;
  margin-left: 1.5rem;
}

.tr-box {
  display: flex;
  flex-flow: row nowrap;
  max-width: 100%;
  height: 30%;
}

.tr-box img {
  max-width: 35%;
  max-height: auto;
  padding: 1rem;
}

.thesis-info {
  display: flex;
  flex-flow: column nowrap;
  max-width: 65%;
  height: auto;
  justify-content: center
}

.thesis-info h5 {
  margin-bottom: 1rem;
}

#fisma {
  background-color: lightgray;
}

@media only screen and (min-width: 20rem) and (max-width: 30rem) {
  .t-left .urban,
  .t-right {
    display: none;
  }

  .theses {
    padding: 0;
    margin: 1rem 0 1.5rem 0;
  }

  .t-left {
    max-width: 100%;
  }
}

/* Footer Section */
footer {
  display: flex;
  flex-flow: row nowrap;
  max-width: 100%;
  justify-content: space-between;
  padding: 1rem 1.5rem;
  border-top: 1px dotted lightgray;
  position: relative;
  top: 4rem;
}

@media only screen and (min-width: 20rem) and (max-width: 30rem) {
  .tc {
    display: none;
  }

  footer {
    justify-content: center;
  }
}
