html {
  font-size: 18px;
  line-height: 1.4;
  font-family: Helvetica, sans-serif;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

/* Hero Image Section */
.hero {
  background-image: url("../images/glasses-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
}

.navbar {
  background-color: cadetblue;
  padding: 1rem 2rem;
  color: white;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-name img {
  height: 1.5rem;
}

.name {
  padding-left: 1rem;
}

.nav span {
  padding-left: 2rem;
}

.nav span a {
  text-decoration: none;
  color: inherit;
}

.cta-header {
  background-color: white;
  font-weight: bold;
  font-size: 2rem;
  color: black;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  position: relative;
  top: 10rem;
  float: right;
  margin-right: -2rem;
}

/* Main Content Section */
.icons {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  height: 8rem;
  margin: 3rem auto;
}

.icon-box {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  /* text-align: center; */
}

#paper img {
  width: 3.5rem;
  margin-right: 6rem;
}

#paper h4 {
  padding-top: 1rem;
}

#ruler img {
  width: 5rem;
  margin-right: 6rem;
}

#ruler h4 {
  padding-top: 2.75rem;
}

#truck img {
  width: 5rem;
}

#truck h4 {
  padding-top: 2.25rem;
}

.info {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  margin-bottom: 5rem;
}

.info-box {
  width: 35%;
}

.info-box p {
  margin-top: 1rem;
}

.green-box {
  background: cadetblue;
  font-weight: bold;
  padding: 0.5rem 1.25rem;
  width: 10rem;
  color: white;
}

#appts {
  margin-left: 5%;
}

/* Footer Section */
.f-content {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: azure;
  height: 9rem;
}

.f-content img {
  height: 1.5rem;
  padding-left: 4rem;
  padding-right: 1rem;
  display: inline;
}
