/* All Text Styling */
h1, h2, h3, h4, h5, span {
  font-family: Helvetica, sans-serif;
  color: SeaShell;
  text-align: center;
}

/* Navigation Header */
.nav-container {
  display: inline-flex;
  flex-direction: row;
  position: fixed;
  z-index: 5;
  justify-content: space-between;
  align-items: center;
  height: 69px;
  width: 100%;
  background-color: black;
  border-bottom: 1px solid SeaShell;
  opacity: 0.9;
}

.logo {
  padding-left: 10px;
  height: 50px;
}

.nav-links {
  padding-right: 20px;
  width: 330px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links {
  text-decoration: underline;
  color: SeaShell;
  font-size: 22px;
}

/* Body Section*/
.body-container {
  background-color: black;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 71px;
}

/* Top Container Section */
.mission {
  background-image: url("images/mission_background.jpg");
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1200px;
  height: 700px;
}

.mission-txt {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  background-color: black;
  width: 100%;
  height: 100px;
}

/* Middle Container Section */
.monthly-tea {
  margin-top: 80px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.tea-items {
  display: flex;
  flex-direction: row;
  max-width: 950px;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  height: 460px;
}

.box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box img {
  height: 200px;
  width: 300px;
}

.box h4 {
  padding-top: 10px;
}

#myrtle {
  margin-left: 155px;
}

#bizarre {
  margin-right: 155px;
}

/* Bottom Container Section */
.locations {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("images/locations_background.jpg");
  height: 500px;
  width: 1200px;
  margin-bottom: 15px;
}

.loco-head {
  margin-bottom: 15px;
}

.loco-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.downtown {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  opacity: 1;
  width: 300px;
  height: 280px;
}

.east-bay {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  opacity: 1;
  width: 300px;
  height: 280px;
  margin-left: 40px;
}

.oakdale {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: black;
  opacity: 1;
  width: 300px;
  height: 280px;
  margin-left: 40px;
}

/* Footer Section */
.footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  width: 1260px;
  height: 200px;
  padding-top: 5px;
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 75%;
  text-align: center;
}

.copy {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 20px;
  height: 25%;
}
